# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# TODO: Many pinned dependencies should be unpinned and/or moved to this constraints file.

# Pinned for PGPy, see https://github.com/SecurityInnovation/PGPy/issues/21
six==1.10.0

# edx-django-utils version 3.0.0 drops support for python 2.7, see https://github.com/edx/edx-django-utils/releases/tag/3.0.0
edx-django-utils<3.0.0

# django-waffle version 0.19.0 requires six>=1.13.0, see https://github.com/django-waffle/django-waffle/blob/v0.19.0/setup.py#L36
django-waffle<0.19.0

# edx-django-utils version 4.0.0 drops support for python 2.7, see https://github.com/edx/edx-rest-api-client/releases/tag/4.0.0
edx-rest-api-client<4.0.0

# tox version 3.14.4 requires six>=1.14.0, see https://github.com/tox-dev/tox/pull/1519
tox<3.14.4
