# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# TODO: Many pinned dependencies should be unpinned and/or moved to this constraints file.

# Common constraints for edx repos
-c common_constraints.txt

# This package is installed in the edx-analytics-data-api service,
# which only supports Django<5. We're hard pinning here, too, to avoid
# dependency management hell of supporting both Django 4 and 5.
Django<5

# pip 25.3 is problematic with newer versions of pip-tools
pip<25.3

# AED 2026-02-04: No idea why we can't find version 9.6
mysql-connector-python<9.6
