name: Python CI

on:
  push:
    branches: [master]
  pull_request:
    branches:
    - '**'

jobs:
  run_tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.8']
        toxenv: [quality, data-django42, reporting-django42]

    steps:
    - uses: actions/checkout@v4
    - name: setup python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pip
      run: pip install -r requirements/pip.txt

    - name: Set env variable
      run: export AWS_CONFIG_FILE=/dev/null

    - name: check pip version
      run: pip --version

    - name: check pip-tools version
      run: pip freeze

    - name: Install Dependencies
      run: pip install -r requirements/ci.txt

    - name: Install GNU gettext
      run: sudo apt-get install gettext

    - name: Run Tests
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: tox

    - name: Run Coverage
      if: matrix.python-version == '3.8' && (matrix.toxenv=='django42-data' || matrix.toxenv=='django42-reporting')
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests
        fail_ci_if_error: true
